/artifacts/
/ci-logs/
/riscos-build/
**/oz/*
**/oz32/*
**/rm/*
**/rm32/*
FanController/h/modhead
FanDriverDummy/h/modhead
**/aif/*
**/aif32/*
**/aif64/*
**/o/*
**/o32/*
**/o64/*
**/oz64/*
**/rm64/*
.rotransform
aif/*
aif32/*
aif64/*
o/*
o32/*
o64/*
